:root {
    --bg_color_Head_Foot: #65393A;
    --bg_color_Nav: #E18B43;
    --bg_color_Main: #E18B43;
    --bg_color_Note: #F0EFE0;
    --hs: 225, 100%;
    --paper: hsl(var(--hs), 25%);
    --highlight: hsl(var(--hs), 45%);
    --shadow: hsl(var(--hs), 15%);
}  

body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* header */

.page header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: var(--bg_color_Head_Foot);
    height: 100px;
}

.page header .rightSideHead {
    gap: 20px;
}

.page header .connected {
    display: flex;
    align-self: center;
    align-items: center;
}

.page header h3 {
    display: flex;
    align-self: center;
    align-items: center;
}

.page header a {
    text-decoration: none;
}
.page header .logo {
    font-family: "Titillium Web", sans-serif;
    font-size: 50px;
    letter-spacing: 0.1em;
    display: grid;
    place-items: center;
    grid-template-areas: "text";
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(305deg, tomato, gold, cyan);
    margin: 0;
  }

/* addnote button */
.add-note {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    color: var(--bg_color_Note);
    transition: all 0.5s;
    position: relative; 
}

.add-note::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(228, 107, 9, 0.205);
    background-color: rgba(228, 107, 9,0.1);
}
.add-note::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(228, 107, 9,0.2);
    background-color: rgba(228, 107, 9,0.1);
}
.add-note:hover::before {
    transform: rotate(0deg);
    /* transform: rotate(-45deg); */
    background-color: rgba(228, 107, 9,0);
}
.add-note:hover::after {
    transform: rotate(90deg);
    /* transform: rotate(-45deg); */
    background-color: rgba(228, 107, 9,0);
}

.add-note svg path {
    stroke: #E18B43;
}


.page .rightSideHead {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: space-between;
}


/* navigation */

nav {
    background-color: var(--bg_color_Nav);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}


/* main */


.page main {
    flex-grow: 1;
    background-color: var(--bg_color_Main);
    padding: 50px 50px
}


main .notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    padding: 24px;
    gap: 24px;
}


/* rotace zaznamu inspirace*/
.note:nth-child(1n) {
    transform:rotate(1deg);
    position:relative;
    top:-5px;
  }
.note:nth-child(2n) {
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
  }
.note:nth-child(5n) {
    transform:rotate(5deg);
    position:relative;
    top:-10px;
}

  
/* single note */
.note {
    display: grid;
    margin: 0;
    height: 200px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    user-select: none;
    color: var(--bg_color_Note);
}


  /*focusovani */
.note:hover, .note:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
  }



.note:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
}

textarea:focus {
    outline: none;
}

  
.note .note-text {
    display: grid;
    text-align: center;
    margin: 0;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: var(--bg_color_Note);
}

main .form-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    gap: 24px;
    background-color: var(--bg_color_Note);
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;

}

/* form  */

#form-note {
    margin: 0 auto;
    background-color: var(--bg_color_Note);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  #form-note label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
    font-size: 16px;
  }

  #form-note textarea {
    height: 200px;
    width: 500px;
    resize: none;
  }

  #form-note textarea,
  #form-note input[type="date"],
  #form-note input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .button-container {
    display: flex;
    align-content: space-between;
    justify-content: center;
    gap: 15px;
  }

/* submit, exit button */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px #ff5722, 0 0 10px #ff5722, 0 0 15px #ff5722, 0 0 20px #ff5722;
    }
    100% {
        box-shadow: 0 0 20px #ff5722, 0 0 30px #ff5722, 0 0 40px #ff5722, 0 0 55px #ff5722;
    }
}

.submit-button, .close-button{
    align-self: center;
    text-align: center;
    border: none;
    outline: none;
    color: #fff;
    background: #ff5722;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    transition: 0.4s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.submit-button:hover, .close-button:hover {
    background: #ff3d00;  /* Change to desired hover color */
    color: #fff;
}

.submit-button::before{
    content: '';
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transform: rotate(-30deg);
    pointer-events: none;
    z-index: 1;
}

.close-button::before {
    content: '';
    background: rgba(255, 255, 255, .1);
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transform: rotate(-30deg);
    pointer-events: none;
    z-index: 1;}

.submit-button:active, .close-button:active {
    color: #ff5722;
    background: #fff;
}

.submit-button:hover::before, .close-button:hover::before {
    animation: glow 2s infinite;
}


/* one note */
#fullNote {
    display: flex;
    flex-grow: 1;
    background-color: var(--bg_color_Main);
    padding: 50px 50px;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    gap: 24px;
    background-color: var(--bg_color_Note);
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

#fullNote {
    margin: 0 auto;
    background-color: var(--bg_color_Note);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  #fullNote label {
    display: block;
    font-size: 14px;
    font-style: italic;
  }

  #fullNote span {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }

  #fullNote textarea {
    height: 200px;
    width: 500px;
    resize: none;
    background-color: var(--bg_color_Note);
  }

  #fullNote textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .video-link {
    font-size: 18px;
    font-style: italic;
    color: inherit;
    text-decoration: none;
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 25% 3px, 0 3px;
    background-position: -100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
  .video-link:hover {
    background-size: 0 3px, 31% 3px;
  }

  
/* footer */
.page footer {
    gap: 40px;
    display: -webkit-box;
    display: -ms-flexbox;    
    height: 100px;
    background-color: var(--bg_color_Head_Foot);;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.page footer #audio-button {
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    margin: 10px;
    padding: 3px;
    border: 5px solid lightblue;
    border-radius: 100%;
    background-color: var(--bg-colour);
    cursor: pointer;
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

#audio-button:hover {
    -webkit-filter: grayscale(60%);
            filter: grayscale(60%);
}

#audio-button svg {
    vertical-align: middle;
}

#audio-crossed {
    position: absolute;
    top: 13px;
    left: 0;
    width: 110%;
    border-bottom: 4px solid rgb(250, 5, 5);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

.hidden {
    visibility: hidden;
}



.page footer .author {
    padding: 10px;
    gap: 5px;
    display: inline-flex;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    align-items: center;
    justify-content: center;
}

/* medias */

@media only screen and (max-width: 840px) {
    .page header .logo {
        font-size: 2.8em;
    }

    .add-note {
        width: 7.5em;
    }

    .page header .connected {
        font-size: 1em;
    }
}

@media only screen and (max-width: 740px) {
    .page header .logo {
        font-size: 2em;
    }

    .add-note {
        width: 4em;
    }

    .page header .connected {
        font-size: 0.5em;
    }
}


@media only screen and (max-width: 444px) {
    .page header .logo {
        font-size: 1.5em;
    }

    .add-note {
        width: 3.8em;
    }

    .page header .connected {
        font-size: 0.5em;
    }
}